body {
   background-color: #E5E3C9;
    color: #789395;
    font-family: Courier;}

h1 {
   color: #B4CFB0;
    font-family: 'Noto Serif Display', serif;
    font-weight: 100px;
    letter-spacing: 10px;
    font-size: 60px;
}
 a{
   font-family: 'Noto Serif Display', serif;
   font-weight: 100px;
   text-decoration: none;
   color: #94B49F;
 }
 a:hover{
   color: orangered;
 }

/* Custom design with class */

.container{
   width: 700px;
   margin: 40px auto;
}

@media (max-width: 500px){
 .container{
   width: 400px;
 }
}

@media (max-width: 760px){
 .container{
   width: 600px;
 }
}


.card-white {
 background-color: white;
 padding: 40px;
 box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
 border-radius: 4px;
 margin: 20px 0px;
 text-align: center;
}

.img-circle {
   border-radius: 50%;
}
.btn-green {
   background-color:#9d974bab;
   color: white;
   padding: 15px 20px;
   border-radius: 4px;
}
.btn-green:hover{
   background-color:grey;
   color: lightpink;
}

.list-inline {
   list-style: none;
   padding-left: 0px;
}

.list-inline li{
display: inline;
padding: 10px;
}
.list-inline i{
   font-size: 50px;
   color: rgb(230,230,230);
}
.list-inline i:hover{
   font-size: 60px;
   color:lightpink;
}
#introduction p {
  margin-bottom: 40px;
}